#review {

  border-style: outset;
  border: .5px solid rgb(73, 72, 72);
  background-color: cornsilk;
  border-radius: 2px;
  width: 80%;
  height: 300px;
  padding: 10px;
  margin: 10px 0 0 5%;
  overflow: auto;
  
}
h5{
  color: rgb(188, 20, 20);;
}
.headerStyle{
  color: rgb(188, 20, 20);;

}
